* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(17, 17, 17, 0.1);
}

.image {
position: relative;
height: 130px;
width: 130px;
border-radius: 50%;
background-color: #918c8c;
padding: 4px;
margin-bottom: 10px;
}

.image .profile-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    
    border-radius: 10px solid #130404;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;

}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
    color: #464646;
}

.text-data .job{
    font-size: 16px;
    color: #7e7b7b;
    margin-top: 2px;
}